In [1]:
import pandas as pd
df = pd.read_csv('한국부동산원_상업용부동산 임대동향조사_임대정보_분기별 층별임대료 및 층별효용비율(중대형상가)_20240331.csv', encoding='ANSI')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 538 entries, 0 to 537
Data columns (total 64 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   시도 광역상권 하위상권 구분  538 non-null    object
 1   2022_1분기_지하1층    504 non-null    float64
 2   2022_1분기_1층      538 non-null    float64
 3   2022_1분기_2층      538 non-null    float64
 4   2022_1분기_3층      536 non-null    float64
 5   2022_1분기_4층      520 non-null    float64
 6   2022_1분기_5층      444 non-null    float64
 7   2022_1분기_6-10층   306 non-null    float64
 8   2022_2분기_지하1층    504 non-null    float64
 9   2022_2분기_1층      538 non-null    float64
 10  2022_2분기_2층      538 non-null    float64
 11  2022_2분기_3층      536 non-null    float64
 12  2022_2분기_4층      520 non-null    float64
 13  2022_2분기_5층      442 non-null    float64
 14  2022_2분기_6-10층   306 non-null    float64
 15  2022_3분기_지하1층    502 non-null    float64
 16  2022_3분기_1층      538 non-null    float64
 17  2022_3분기_2층      538 non-null    float64
 18  2022_3분기_3층      536 non-null    float64
 19  2022_3분기_4층      520 non-null    float64
 20  2022_3분기_5층      442 non-null    float64
 21  2022_3분기_6-10층   306 non-null    float64
 22  2022_4분기_지하1층    502 non-null    float64
 23  2022_4분기_1층      538 non-null    float64
 24  2022_4분기_2층      538 non-null    float64
 25  2022_4분기_3층      536 non-null    float64
 26  2022_4분기_4층      520 non-null    float64
 27  2022_4분기_5층      440 non-null    float64
 28  2022_4분기_6-10층   306 non-null    float64
 29  2023_1분기_지하1층    502 non-null    float64
 30  2023_1분기_1층      538 non-null    float64
 31  2023_1분기_2층      538 non-null    float64
 32  2023_1분기_3층      536 non-null    float64
 33  2023_1분기_4층      520 non-null    float64
 34  2023_1분기_5층      440 non-null    float64
 35  2023_1분기_6-10층   306 non-null    float64
 36  2023_2분기_지하1층    500 non-null    float64
 37  2023_2분기_1층      538 non-null    float64
 38  2023_2분기_2층      538 non-null    float64
 39  2023_2분기_3층      536 non-null    float64
 40  2023_2분기_4층      520 non-null    float64
 41  2023_2분기_5층      440 non-null    float64
 42  2023_2분기_6-10층   306 non-null    float64
 43  2023_3분기_지하1층    500 non-null    float64
 44  2023_3분기_1층      538 non-null    float64
 45  2023_3분기_2층      538 non-null    float64
 46  2023_3분기_3층      536 non-null    float64
 47  2023_3분기_4층      520 non-null    float64
 48  2023_3분기_5층      440 non-null    float64
 49  2023_3분기_6-10층   304 non-null    float64
 50  2023_4분기_지하1층    500 non-null    float64
 51  2023_4분기_1층      538 non-null    float64
 52  2023_4분기_2층      538 non-null    float64
 53  2023_4분기_3층      536 non-null    float64
 54  2023_4분기_4층      520 non-null    float64
 55  2023_4분기_5층      440 non-null    float64
 56  2023_4분기_6-10층   304 non-null    float64
 57  2024_1분기_지하1층    500 non-null    float64
 58  2024_1분기_1층      538 non-null    float64
 59  2024_1분기_2층      538 non-null    float64
 60  2024_1분기_3층      536 non-null    float64
 61  2024_1분기_4층      520 non-null    float64
 62  2024_1분기_5층      440 non-null    float64
 63  2024_1분기_6-10층   304 non-null    float64
dtypes: float64(63), object(1)
memory usage: 269.1+ KB

# 서울 필터링

In [2]:
df['시도 광역상권 하위상권 구분'].unique()

array(['서울  임대료', '서울  효용비율', '서울 도심 임대료', '서울 도심 효용비율', '서울 도심 광화문임대료',
       '서울 도심 광화문효용비율', '서울 도심 남대문임대료', '서울 도심 남대문효용비율', '서울 도심 동대문임대료',
       '서울 도심 동대문효용비율', '서울 도심 명동임대료', '서울 도심 명동효용비율', '서울 도심 시청임대료',
       '서울 도심 시청효용비율', '서울 도심 을지로임대료', '서울 도심 을지로효용비율', '서울 도심 종로임대료',
       '서울 도심 종로효용비율', '서울 도심 충무로임대료', '서울 도심 충무로효용비율', '서울 강남 임대료',
       '서울 강남 효용비율', '서울 강남 강남대로임대료', '서울 강남 강남대로효용비율', '서울 강남 교대역임대료',
       '서울 강남 교대역효용비율', '서울 강남 남부터미널임대료', '서울 강남 남부터미널효용비율',
       '서울 강남 논현역임대료', '서울 강남 논현역효용비율', '서울 강남 도산대로임대료', '서울 강남 도산대로효용비율',
       '서울 강남 방배역/내방역임대료', '서울 강남 방배역/내방역효용비율', '서울 강남 서래마을임대료',
       '서울 강남 서래마을효용비율', '서울 강남 신사역임대료', '서울 강남 신사역효용비율', '서울 강남 압구정임대료',
       '서울 강남 압구정효용비율', '서울 강남 양재말죽거리임대료', '서울 강남 양재말죽거리효용비율',
       '서울 강남 양재역임대료', '서울 강남 양재역효용비율', '서울 강남 청담임대료', '서울 강남 청담효용비율',
       '서울 강남 테헤란로임대료', '서울 강남 테헤란로효용비율', '서울 강남 학동/강남구청역임대료',
       '서울 강남 학동/강남구청역효용비율', '서울 영등포신촌 임대료', '서울 영등포신촌 효용비율',
       '서울 영등포신촌 공덕역임대료', '서울 영등포신촌 공덕역효용비율', '서울 영등포신촌 당산역임대료',
       '서울 영등포신촌 당산역효용비율', '서울 영등포신촌 동교/연남임대료', '서울 영등포신촌 동교/연남효용비율',
       '서울 영등포신촌 망원역임대료', '서울 영등포신촌 망원역효용비율', '서울 영등포신촌 신촌/이대임대료',
       '서울 영등포신촌 신촌/이대효용비율', '서울 영등포신촌 영등포역임대료', '서울 영등포신촌 영등포역효용비율',
       '서울 영등포신촌 홍대/합정임대료', '서울 영등포신촌 홍대/합정효용비율', '서울 기타 임대료',
       '서울 기타 효용비율', '서울  가락시장임대료', '서울  가락시장효용비율', '서울  건대입구임대료',
       '서울  건대입구효용비율', '서울  경희대임대료', '서울  경희대효용비율', '서울  구로디지털단지역임대료',
       '서울  구로디지털단지역효용비율', '서울  구의역임대료', '서울  구의역효용비율', '서울  군자임대료',
       '서울  군자효용비율', '서울  노량진임대료', '서울  노량진효용비율', '서울  독산/시흥임대료',
       '서울  독산/시흥효용비율', '서울  뚝섬임대료', '서울  뚝섬효용비율', '서울  목동임대료',
       '서울  목동효용비율', '서울  미아사거리임대료', '서울  미아사거리효용비율', '서울  불광역임대료',
       '서울  불광역효용비율', '서울  사당임대료', '서울  사당효용비율', '서울  상계역임대료',
       '서울  상계역효용비율', '서울  상봉역임대료', '서울  상봉역효용비율', '서울  서울대입구역임대료',
       '서울  서울대입구역효용비율', '서울  성신여대임대료', '서울  성신여대효용비율', '서울  수유임대료',
       '서울  수유효용비율', '서울  숙명여대임대료', '서울  숙명여대효용비율', '서울  신림역임대료',
       '서울  신림역효용비율', '서울  연신내임대료', '서울  연신내효용비율', '서울  오류동역임대료',
       '서울  오류동역효용비율', '서울  왕십리임대료', '서울  왕십리효용비율', '서울  용산역임대료',
       '서울  용산역효용비율', '서울  이태원임대료', '서울  이태원효용비율', '서울  잠실/송파임대료',
       '서울  잠실/송파효용비율', '서울  잠실새내역임대료', '서울  잠실새내역효용비율', '서울  장안동임대료',
       '서울  장안동효용비율', '서울  천호임대료', '서울  천호효용비율', '서울  청량리임대료',
       '서울  청량리효용비율', '서울  혜화동임대료', '서울  혜화동효용비율', '서울  화곡임대료',
       '서울  화곡효용비율', '부산  임대료', '부산  효용비율', '부산  경성대/부경대임대료',
       '부산  경성대/부경대효용비율', '부산  광안리임대료', '부산  광안리효용비율', '부산  구서동/금정구청임대료',
       '부산  구서동/금정구청효용비율', '부산  남포동임대료', '부산  남포동효용비율', '부산  남항동임대료',
       '부산  남항동효용비율', '부산  덕천역임대료', '부산  덕천역효용비율', '부산  동래역임대료',
       '부산  동래역효용비율', '부산  부산대학앞임대료', '부산  부산대학앞효용비율', '부산  부산역임대료',
       '부산  부산역효용비율', '부산  부전시장임대료', '부산  부전시장효용비율', '부산  사상역임대료',
       '부산  사상역효용비율', '부산  사직야구장임대료', '부산  사직야구장효용비율', '부산  서면/전포임대료',
       '부산  서면/전포효용비율', '부산  송정해수욕장임대료', '부산  송정해수욕장효용비율', '부산  수영역임대료',
       '부산  수영역효용비율', '부산  연산로터리임대료', '부산  연산로터리효용비율', '부산  온천장임대료',
       '부산  온천장효용비율', '부산  하단역임대료', '부산  하단역효용비율', '부산  해운대임대료',
       '부산  해운대효용비율', '부산  현대백화점주변임대료', '부산  현대백화점주변효용비율', '대구  임대료',
       '대구  효용비율', '대구  경북대북문임대료', '대구  경북대북문효용비율', '대구  계명대임대료',
       '대구  계명대효용비율', '대구  동대구임대료', '대구  동대구효용비율', '대구  동성로중심임대료',
       '대구  동성로중심효용비율', '대구  들안길임대료', '대구  들안길효용비율', '대구  삼덕/대봉임대료',
       '대구  삼덕/대봉효용비율', '대구  상인/월배임대료', '대구  상인/월배효용비율',
       '대구  서문시장/청라언덕임대료', '대구  서문시장/청라언덕효용비율', '대구  수성범어임대료',
       '대구  수성범어효용비율', '대구  시지지구임대료', '대구  시지지구효용비율', '대구  월촌/안지랑임대료',
       '대구  월촌/안지랑효용비율', '대구  죽전임대료', '대구  죽전효용비율', '대구  칠곡임대료',
       '대구  칠곡효용비율', '인천  임대료', '인천  효용비율', '인천  간석오거리임대료',
       '인천  간석오거리효용비율', '인천  계양계산임대료', '인천  계양계산효용비율', '인천  구월임대료',
       '인천  구월효용비율', '인천  부평임대료', '인천  부평효용비율', '인천  석남/가정중앙시장임대료',
       '인천  석남/가정중앙시장효용비율', '인천  신포동임대료', '인천  신포동효용비율', '인천  인하대앞임대료',
       '인천  인하대앞효용비율', '인천  주안임대료', '인천  주안효용비율', '광주  임대료', '광주  효용비율',
       '광주  금남로/충장로임대료', '광주  금남로/충장로효용비율', '광주  금호지구임대료', '광주  금호지구효용비율',
       '광주  봉선동임대료', '광주  봉선동효용비율', '광주  상무지구임대료', '광주  상무지구효용비율',
       '광주  송정동지구임대료', '광주  송정동지구효용비율', '광주  양산지구임대료', '광주  양산지구효용비율',
       '광주  용봉동임대료', '광주  용봉동효용비율', '광주  월산동지구임대료', '광주  월산동지구효용비율',
       '광주  전남대임대료', '광주  전남대효용비율', '광주  첨단1지구임대료', '광주  첨단1지구효용비율',
       '대전  임대료', '대전  효용비율', '대전  노은임대료', '대전  노은효용비율', '대전  둔산임대료',
       '대전  둔산효용비율', '대전  복합터미널임대료', '대전  복합터미널효용비율', '대전  서대전네거리임대료',
       '대전  서대전네거리효용비율', '대전  용문/한민시장임대료', '대전  용문/한민시장효용비율',
       '대전  원도심임대료', '대전  원도심효용비율', '대전  유성온천역임대료', '대전  유성온천역효용비율',
       '울산  임대료', '울산  효용비율', '울산  삼산동임대료', '울산  삼산동효용비율', '울산  성남옥교동임대료',
       '울산  성남옥교동효용비율', '울산  신정동임대료', '울산  신정동효용비율', '울산  울산농소임대료',
       '울산  울산농소효용비율', '울산  울산대임대료', '울산  울산대효용비율', '울산  전하동임대료',
       '울산  전하동효용비율', '세종  임대료', '세종  효용비율', '세종  조치원임대료', '세종  조치원효용비율',
       '경기  임대료', '경기  효용비율', '경기  고양시청임대료', '경기  고양시청효용비율',
       '경기  광명철산임대료', '경기  광명철산효용비율', '경기  광주시가지임대료', '경기  광주시가지효용비율',
       '경기  구리역임대료', '경기  구리역효용비율', '경기  기흥역임대료', '경기  기흥역효용비율',
       '경기  김량장동임대료', '경기  김량장동효용비율', '경기  단대오거리역임대료', '경기  단대오거리역효용비율',
       '경기  동두천중앙로임대료', '경기  동두천중앙로효용비율', '경기  모란임대료', '경기  모란효용비율',
       '경기  병점역임대료', '경기  병점역효용비율', '경기  부천역임대료', '경기  부천역효용비율',
       '경기  분당역세권임대료', '경기  분당역세권효용비율', '경기  성남구시가지임대료', '경기  성남구시가지효용비율',
       '경기  수원역임대료', '경기  수원역효용비율', '경기  신장/지산/서정임대료', '경기  신장/지산/서정효용비율',
       '경기  신천역임대료', '경기  신천역효용비율', '경기  아주대삼거리임대료', '경기  아주대삼거리효용비율',
       '경기  안성시장임대료', '경기  안성시장효용비율', '경기  안양역임대료', '경기  안양역효용비율',
       '경기  여주시청임대료', '경기  여주시청효용비율', '경기  영통역임대료', '경기  영통역효용비율',
       '경기  오산시청임대료', '경기  오산시청효용비율', '경기  용인수지임대료', '경기  용인수지효용비율',
       '경기  의정부역임대료', '경기  의정부역효용비율', '경기  이천종합터미널임대료', '경기  이천종합터미널효용비율',
       '경기  인계동임대료', '경기  인계동효용비율', '경기  인덕원임대료', '경기  인덕원효용비율',
       '경기  탄현역임대료', '경기  탄현역효용비율', '경기  파주시청임대료', '경기  파주시청효용비율',
       '경기  팔달문로터리임대료', '경기  팔달문로터리효용비율', '경기  평택역임대료', '경기  평택역효용비율',
       '경기  포천시외버스터미널임대료', '경기  포천시외버스터미널효용비율', '경기  하남원도심임대료',
       '경기  하남원도심효용비율', '강원  임대료', '강원  효용비율', '강원  강릉교동임대료',
       '강원  강릉교동효용비율', '강원  강릉중부임대료', '강원  강릉중부효용비율', '강원  묵호항임대료',
       '강원  묵호항효용비율', '강원  삼척중앙시장임대료', '강원  삼척중앙시장효용비율', '강원  속초중앙시장임대료',
       '강원  속초중앙시장효용비율', '강원  영월경찰서임대료', '강원  영월경찰서효용비율',
       '강원  원주중앙/일산임대료', '강원  원주중앙/일산효용비율', '강원  원주터미널임대료',
       '강원  원주터미널효용비율', '강원  주문진항임대료', '강원  주문진항효용비율', '강원  춘천명동임대료',
       '강원  춘천명동효용비율', '강원  태백중앙시장임대료', '강원  태백중앙시장효용비율', '충북  임대료',
       '충북  효용비율', '충북  봉명사거리임대료', '충북  봉명사거리효용비율', '충북  제천역임대료',
       '충북  제천역효용비율', '충북  제천중앙임대료', '충북  제천중앙효용비율', '충북  증평광장로임대료',
       '충북  증평광장로효용비율', '충북  청주성안길임대료', '충북  청주성안길효용비율', '충북  충북대학교임대료',
       '충북  충북대학교효용비율', '충북  충주연수칠금임대료', '충북  충주연수칠금효용비율',
       '충북  충주자유시장임대료', '충북  충주자유시장효용비율', '충남  임대료', '충남  효용비율',
       '충남  강경젓갈시장임대료', '충남  강경젓갈시장효용비율', '충남  공주대임대료', '충남  공주대효용비율',
       '충남  공주웅진동임대료', '충남  공주웅진동효용비율', '충남  논산시외버스터미널임대료',
       '충남  논산시외버스터미널효용비율', '충남  당진시청임대료', '충남  당진시청효용비율', '충남  두정임대료',
       '충남  두정효용비율', '충남  배방읍임대료', '충남  배방읍효용비율', '충남  보령문화의전당임대료',
       '충남  보령문화의전당효용비율', '충남  서산터미널임대료', '충남  서산터미널효용비율', '충남  아산온양임대료',
       '충남  아산온양효용비율', '충남  예산시장임대료', '충남  예산시장효용비율', '충남  천안역임대료',
       '충남  천안역효용비율', '충남  천안종합버스터미널임대료', '충남  천안종합버스터미널효용비율',
       '충남  태안터미널임대료', '충남  태안터미널효용비율', '충남  합덕버스터미널임대료',
       '충남  합덕버스터미널효용비율', '전북  임대료', '전북  효용비율', '전북  군산구도심임대료',
       '전북  군산구도심효용비율', '전북  김제시장임대료', '전북  김제시장효용비율', '전북  남원광한루임대료',
       '전북  남원광한루효용비율', '전북  송천동임대료', '전북  송천동효용비율', '전북  영등부송임대료',
       '전북  영등부송효용비율', '전북  익산역임대료', '전북  익산역효용비율', '전북  전주동부임대료',
       '전북  전주동부효용비율', '전북  전주서부임대료', '전북  전주서부효용비율', '전북  전주서부신시가지임대료',
       '전북  전주서부신시가지효용비율', '전북  정읍중심임대료', '전북  정읍중심효용비율', '전남  임대료',
       '전남  효용비율', '전남  광양읍임대료', '전남  광양읍효용비율', '전남  광양중동임대료',
       '전남  광양중동효용비율', '전남  나주구시가지임대료', '전남  나주구시가지효용비율', '전남  목포구도심임대료',
       '전남  목포구도심효용비율', '전남  무선지구임대료', '전남  무선지구효용비율', '전남  순천법원임대료',
       '전남  순천법원효용비율', '전남  순천원도심임대료', '전남  순천원도심효용비율', '전남  여수여문임대료',
       '전남  여수여문효용비율', '전남  여수원도심임대료', '전남  여수원도심효용비율', '전남  여수학동임대료',
       '전남  여수학동효용비율', '전남  조례임대료', '전남  조례효용비율', '전남  하당신도심임대료',
       '전남  하당신도심효용비율', '경북  임대료', '경북  효용비율', '경북  가흥택지개발지구임대료',
       '경북  가흥택지개발지구효용비율', '경북  경주도심임대료', '경북  경주도심효용비율', '경북  구미산업단지임대료',
       '경북  구미산업단지효용비율', '경북  구미선주원남동임대료', '경북  구미선주원남동효용비율',
       '경북  구미역임대료', '경북  구미역효용비율', '경북  문경점촌흥덕임대료', '경북  문경점촌흥덕효용비율',
       '경북  상주동문동임대료', '경북  상주동문동효용비율', '경북  안동구도심임대료', '경북  안동구도심효용비율',
       '경북  양덕동임대료', '경북  양덕동효용비율', '경북  영일대해수욕장임대료', '경북  영일대해수욕장효용비율',
       '경북  영주중앙임대료', '경북  영주중앙효용비율', '경북  옥동사거리임대료', '경북  옥동사거리효용비율',
       '경북  포항도심임대료', '경북  포항도심효용비율', '경남  임대료', '경남  효용비율',
       '경남  거제고현임대료', '경남  거제고현효용비율', '경남  거제옥포임대료', '경남  거제옥포효용비율',
       '경남  김해시청/동상시장임대료', '경남  김해시청/동상시장효용비율', '경남  마산동서동임대료',
       '경남  마산동서동효용비율', '경남  마산역버스터미널임대료', '경남  마산역버스터미널효용비율',
       '경남  밀양원도심/삼문동임대료', '경남  밀양원도심/삼문동효용비율', '경남  양산구도심임대료',
       '경남  양산구도심효용비율', '경남  진주중앙시장임대료', '경남  진주중앙시장효용비율', '경남  진해석동임대료',
       '경남  진해석동효용비율', '경남  창원시청임대료', '경남  창원시청효용비율', '경남  창원역임대료',
       '경남  창원역효용비율', '경남  창원월영동임대료', '경남  창원월영동효용비율', '경남  창원의창구청임대료',
       '경남  창원의창구청효용비율', '경남  통영 강구안임대료', '경남  통영 강구안효용비율', '경남  평거동임대료',
       '경남  평거동효용비율', '경남  활천동임대료', '경남  활천동효용비율', '제주  임대료', '제주  효용비율',
       '제주  광양사거리임대료', '제주  광양사거리효용비율', '제주  노형오거리임대료', '제주  노형오거리효용비율',
       '제주  서귀포도심임대료', '제주  서귀포도심효용비율', '제주  중앙사거리임대료', '제주  중앙사거리효용비율'],
      dtype=object)

In [3]:
# 서울 임대료 데이터만 필터링
df = df[(df['시도 광역상권 하위상권 구분'].str.startswith('서울')) & (df['시도 광역상권 하위상권 구분'].str.endswith('임대료'))].reset_index(drop=True)
df

,시도 광역상권 하위상권 구분,2022_1분기_지하1층,2022_1분기_1층,2022_1분기_2층,2022_1분기_3층,2022_1분기_4층,2022_1분기_5층,2022_1분기_6-10층,2022_2분기_지하1층,2022_2분기_1층,...,2023_4분기_4층,2023_4분기_5층,2023_4분기_6-10층,2024_1분기_지하1층,2024_1분기_1층,2024_1분기_2층,2024_1분기_3층,2024_1분기_4층,2024_1분기_5층,2024_1분기_6-10층
0,서울 임대료,15.4,51.4,23.5,18.9,17.5,17.6,16.9,15.5,51.5,...,17.7,17.8,17.4,15.5,52.7,23.9,19.0,17.7,17.8,17.5
1,서울 도심 임대료,17.2,81.7,34.0,25.7,23.3,22.4,21.9,17.3,81.8,...,24.4,23.0,23.2,17.5,84.4,34.5,25.8,24.5,23.0,23.2
2,서울 도심 광화문임대료,27.7,80.4,37.9,26.9,24.4,23.0,22.4,27.7,80.5,...,24.3,23.4,23.8,28.1,81.1,40.8,30.5,24.7,23.1,23.8
3,서울 도심 남대문임대료,19.4,73.8,25.8,20.1,18.4,15.4,16.7,19.4,74.0,...,18.2,15.3,16.9,19.6,70.8,24.8,20.0,18.2,15.3,16.9
4,서울 도심 동대문임대료,13.8,44.6,18.9,14.9,14.0,17.0,19.9,13.8,44.6,...,14.4,17.1,19.9,13.8,45.6,18.7,15.0,14.4,17.1,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,서울 장안동임대료,11.3,36.0,16.6,11.9,11.4,9.1,NaN,11.3,36.0,...,11.5,9.1,NaN,11.7,36.7,16.7,11.9,11.5,9.1,NaN
62,서울 천호임대료,11.1,46.9,20.5,15.2,13.5,11.9,12.1,11.1,46.9,...,13.5,12.0,12.1,11.1,47.0,20.5,15.1,13.5,12.0,12.1
63,서울 청량리임대료,7.7,45.7,18.4,14.1,11.8,11.6,10.9,7.7,45.6,...,11.7,11.5,10.9,7.7,45.5,18.8,14.0,11.8,11.5,10.9
64,서울 혜화동임대료,17.1,62.2,26.0,21.0,19.2,16.4,14.3,17.1,62.1,...,18.9,16.4,14.3,17.2,63.0,26.2,21.1,18.9,16.4,14.3
65,서울 화곡임대료,10.1,34.7,16.2,14.6,12.2,10.2,9.0,10.7,35.3,...,12.3,10.1,9.0,10.7,35.2,16.3,14.8,12.2,10.1,9.0

In [4]:
df['시도 광역상권 하위상권 구분'].unique()

array(['서울  임대료', '서울 도심 임대료', '서울 도심 광화문임대료', '서울 도심 남대문임대료',
       '서울 도심 동대문임대료', '서울 도심 명동임대료', '서울 도심 시청임대료', '서울 도심 을지로임대료',
       '서울 도심 종로임대료', '서울 도심 충무로임대료', '서울 강남 임대료', '서울 강남 강남대로임대료',
       '서울 강남 교대역임대료', '서울 강남 남부터미널임대료', '서울 강남 논현역임대료', '서울 강남 도산대로임대료',
       '서울 강남 방배역/내방역임대료', '서울 강남 서래마을임대료', '서울 강남 신사역임대료',
       '서울 강남 압구정임대료', '서울 강남 양재말죽거리임대료', '서울 강남 양재역임대료', '서울 강남 청담임대료',
       '서울 강남 테헤란로임대료', '서울 강남 학동/강남구청역임대료', '서울 영등포신촌 임대료',
       '서울 영등포신촌 공덕역임대료', '서울 영등포신촌 당산역임대료', '서울 영등포신촌 동교/연남임대료',
       '서울 영등포신촌 망원역임대료', '서울 영등포신촌 신촌/이대임대료', '서울 영등포신촌 영등포역임대료',
       '서울 영등포신촌 홍대/합정임대료', '서울 기타 임대료', '서울  가락시장임대료', '서울  건대입구임대료',
       '서울  경희대임대료', '서울  구로디지털단지역임대료', '서울  구의역임대료', '서울  군자임대료',
       '서울  노량진임대료', '서울  독산/시흥임대료', '서울  뚝섬임대료', '서울  목동임대료',
       '서울  미아사거리임대료', '서울  불광역임대료', '서울  사당임대료', '서울  상계역임대료',
       '서울  상봉역임대료', '서울  서울대입구역임대료', '서울  성신여대임대료', '서울  수유임대료',
       '서울  숙명여대임대료', '서울  신림역임대료', '서울  연신내임대료', '서울  오류동역임대료',
       '서울  왕십리임대료', '서울  용산역임대료', '서울  이태원임대료', '서울  잠실/송파임대료',
       '서울  잠실새내역임대료', '서울  장안동임대료', '서울  천호임대료', '서울  청량리임대료',
       '서울  혜화동임대료', '서울  화곡임대료'], dtype=object)

# 컬럼 구분

In [5]:
# 데이터 분리: 정규식을 사용하여 '시도', '광역상권', '하위상권'으로 나누기
df[['시도', '광역상권', '하위상권']] = df['시도 광역상권 하위상권 구분'].str.extract(
    r'(?P<시도>서울)\s*(?P<광역상권>[^\s]*?)?\s*(?P<하위상권>[^\s]+임대료)'
)

# '임대료' 제거 및 공백 처리
df['하위상권'] = df['하위상권'].str.replace('임대료', '', regex=False).str.strip()


df = df.drop(columns=['시도 광역상권 하위상권 구분'])

df

,2022_1분기_지하1층,2022_1분기_1층,2022_1분기_2층,2022_1분기_3층,2022_1분기_4층,2022_1분기_5층,2022_1분기_6-10층,2022_2분기_지하1층,2022_2분기_1층,2022_2분기_2층,...,2024_1분기_지하1층,2024_1분기_1층,2024_1분기_2층,2024_1분기_3층,2024_1분기_4층,2024_1분기_5층,2024_1분기_6-10층,시도,광역상권,하위상권
0,15.4,51.4,23.5,18.9,17.5,17.6,16.9,15.5,51.5,23.6,...,15.5,52.7,23.9,19.0,17.7,17.8,17.5,NaN,NaN,NaN
1,17.2,81.7,34.0,25.7,23.3,22.4,21.9,17.3,81.8,33.8,...,17.5,84.4,34.5,25.8,24.5,23.0,23.2,NaN,NaN,NaN
2,27.7,80.4,37.9,26.9,24.4,23.0,22.4,27.7,80.5,37.9,...,28.1,81.1,40.8,30.5,24.7,23.1,23.8,서울,도심,광화문
3,19.4,73.8,25.8,20.1,18.4,15.4,16.7,19.4,74.0,25.8,...,19.6,70.8,24.8,20.0,18.2,15.3,16.9,서울,도심,남대문
4,13.8,44.6,18.9,14.9,14.0,17.0,19.9,13.8,44.6,18.9,...,13.8,45.6,18.7,15.0,14.4,17.1,20.0,서울,도심,동대문
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,11.3,36.0,16.6,11.9,11.4,9.1,NaN,11.3,36.0,16.6,...,11.7,36.7,16.7,11.9,11.5,9.1,NaN,서울,,장안동
62,11.1,46.9,20.5,15.2,13.5,11.9,12.1,11.1,46.9,20.5,...,11.1,47.0,20.5,15.1,13.5,12.0,12.1,서울,,천호
63,7.7,45.7,18.4,14.1,11.8,11.6,10.9,7.7,45.6,18.9,...,7.7,45.5,18.8,14.0,11.8,11.5,10.9,서울,,청량리
64,17.1,62.2,26.0,21.0,19.2,16.4,14.3,17.1,62.1,26.0,...,17.2,63.0,26.2,21.1,18.9,16.4,14.3,서울,,혜화동
65,10.1,34.7,16.2,14.6,12.2,10.2,9.0,10.7,35.3,16.4,...,10.7,35.2,16.3,14.8,12.2,10.1,9.0,서울,,화곡

# 결측값 채우기

In [6]:
df.isna().sum()

2022_1분기_지하1층      0
2022_1분기_1층        0
2022_1분기_2층        0
2022_1분기_3층        0
2022_1분기_4층        0
                  ..
2024_1분기_5층        0
2024_1분기_6-10층    14
시도                 5
광역상권               5
하위상권               5
Length: 66, dtype: int64

In [7]:
df[df['시도'].isnull()]

,2022_1분기_지하1층,2022_1분기_1층,2022_1분기_2층,2022_1분기_3층,2022_1분기_4층,2022_1분기_5층,2022_1분기_6-10층,2022_2분기_지하1층,2022_2분기_1층,2022_2분기_2층,...,2024_1분기_지하1층,2024_1분기_1층,2024_1분기_2층,2024_1분기_3층,2024_1분기_4층,2024_1분기_5층,2024_1분기_6-10층,시도,광역상권,하위상권
0,15.4,51.4,23.5,18.9,17.5,17.6,16.9,15.5,51.5,23.6,...,15.5,52.7,23.9,19.0,17.7,17.8,17.5,NaN,NaN,NaN
1,17.2,81.7,34.0,25.7,23.3,22.4,21.9,17.3,81.8,33.8,...,17.5,84.4,34.5,25.8,24.5,23.0,23.2,NaN,NaN,NaN
10,19.2,56.9,28.1,23.5,21.4,20.8,20.0,19.4,56.9,28.2,...,19.1,58.6,28.5,23.5,21.5,21.0,21.0,NaN,NaN,NaN
25,16.6,46.3,22.4,16.8,15.7,15.2,15.9,16.6,46.1,22.4,...,16.7,47.2,22.8,17.3,15.9,15.4,16.0,NaN,NaN,NaN
33,12.9,46.0,20.0,15.9,14.4,14.1,14.5,12.9,46.0,20.1,...,13.1,46.9,20.4,16.2,14.8,14.5,14.7,NaN,NaN,NaN

In [8]:
# 정규표현식에 맞지않아 추출되지 못한 NaN 값 채우기
df.loc[df['광역상권'].isna(), '시도'] = '서울'
df.loc[1,'광역상권'] = '도심'
df.loc[10,'광역상권'] = '강남'
df.loc[25,'광역상권'] = '영등포신촌'
df.loc[33,'광역상권'] = '기타'

# 임대료 데이터 NaN값 평균값으로 대체
df['2022_1분기_6-10층'] = df['2022_1분기_6-10층'].fillna(df['2022_1분기_6-10층'].mean())
df['2022_2분기_6-10층'] = df['2022_2분기_6-10층'].fillna(df['2022_2분기_6-10층'].mean())
df['2022_3분기_6-10층'] = df['2022_3분기_6-10층'].fillna(df['2022_3분기_6-10층'].mean())
df['2022_4분기_6-10층'] = df['2022_4분기_6-10층'].fillna(df['2022_4분기_6-10층'].mean())
df['2023_1분기_6-10층'] = df['2023_1분기_6-10층'].fillna(df['2023_1분기_6-10층'].mean())
df['2023_2분기_6-10층'] = df['2023_2분기_6-10층'].fillna(df['2023_2분기_6-10층'].mean())
df['2023_3분기_6-10층'] = df['2023_3분기_6-10층'].fillna(df['2023_3분기_6-10층'].mean())
df['2023_4분기_6-10층'] = df['2023_4분기_6-10층'].fillna(df['2023_4분기_6-10층'].mean())
df['2024_1분기_6-10층'] = df['2024_1분기_6-10층'].fillna(df['2024_1분기_6-10층'].mean())
# 광역상권, 하위상권 NaN값 공백으로 채우기
df[['광역상권','하위상권']] = df[['광역상권','하위상권']].fillna('')

df

,2022_1분기_지하1층,2022_1분기_1층,2022_1분기_2층,2022_1분기_3층,2022_1분기_4층,2022_1분기_5층,2022_1분기_6-10층,2022_2분기_지하1층,2022_2분기_1층,2022_2분기_2층,...,2024_1분기_지하1층,2024_1분기_1층,2024_1분기_2층,2024_1분기_3층,2024_1분기_4층,2024_1분기_5층,2024_1분기_6-10층,시도,광역상권,하위상권
0,15.4,51.4,23.5,18.9,17.5,17.6,16.9,15.5,51.5,23.6,...,15.5,52.7,23.9,19.0,17.7,17.8,17.500000,서울,,
1,17.2,81.7,34.0,25.7,23.3,22.4,21.9,17.3,81.8,33.8,...,17.5,84.4,34.5,25.8,24.5,23.0,23.200000,서울,도심,
2,27.7,80.4,37.9,26.9,24.4,23.0,22.4,27.7,80.5,37.9,...,28.1,81.1,40.8,30.5,24.7,23.1,23.800000,서울,도심,광화문
3,19.4,73.8,25.8,20.1,18.4,15.4,16.7,19.4,74.0,25.8,...,19.6,70.8,24.8,20.0,18.2,15.3,16.900000,서울,도심,남대문
4,13.8,44.6,18.9,14.9,14.0,17.0,19.9,13.8,44.6,18.9,...,13.8,45.6,18.7,15.0,14.4,17.1,20.000000,서울,도심,동대문
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,11.3,36.0,16.6,11.9,11.4,9.1,18.4,11.3,36.0,16.6,...,11.7,36.7,16.7,11.9,11.5,9.1,18.498077,서울,,장안동
62,11.1,46.9,20.5,15.2,13.5,11.9,12.1,11.1,46.9,20.5,...,11.1,47.0,20.5,15.1,13.5,12.0,12.100000,서울,,천호
63,7.7,45.7,18.4,14.1,11.8,11.6,10.9,7.7,45.6,18.9,...,7.7,45.5,18.8,14.0,11.8,11.5,10.900000,서울,,청량리
64,17.1,62.2,26.0,21.0,19.2,16.4,14.3,17.1,62.1,26.0,...,17.2,63.0,26.2,21.1,18.9,16.4,14.300000,서울,,혜화동
65,10.1,34.7,16.2,14.6,12.2,10.2,9.0,10.7,35.3,16.4,...,10.7,35.2,16.3,14.8,12.2,10.1,9.000000,서울,,화곡

In [9]:
import pandas as pd

# 출력 옵션 설정: 모든 열 출력
#pd.set_option('display.max_columns', None)  # 모든 열 출력
#pd.set_option('display.max_rows', None)     # 모든 행 출력 (필요 시)

# isna().sum() 결과 출력
print(df.isna().sum())

2022_1분기_지하1층     0
2022_1분기_1층       0
2022_1분기_2층       0
2022_1분기_3층       0
2022_1분기_4층       0
                 ..
2024_1분기_5층       0
2024_1분기_6-10층    0
시도                0
광역상권              0
하위상권              0
Length: 66, dtype: int64

# 분석에 용이한 형태로 데이터 구조 변환

In [19]:
# 데이터 구조 변환
melt_df = df.melt(id_vars=['시도', '광역상권', '하위상권'], var_name='연도_기간_층', value_name='임대료')

# '기간_층' 열을 '기간'과 '층'으로 분리
melt_df[['연도', '기간', '층']] = melt_df['연도_기간_층'].str.split('_', expand=True)
melt_df = melt_df.drop(columns=['연도_기간_층'])  # 기존 '기간_층' 열 삭제

# 임대료 데이터는 단위가 천원/m^2 이기 때문에 평당 임대료로 전환
melt_df['임대료'] = melt_df['임대료'] * 1000 * 3.305785
melt_df['임대료'] = melt_df['임대료'].astype('int64')
melt_df = melt_df.rename(columns={'임대료':'평당_임대료'})

melt_df

      시도 광역상권 하위상권  평당_임대료    연도   기간      층
0     서울             50909  2022  1분기   지하1층
1     서울   도심        56859  2022  1분기   지하1층
2     서울   도심  광화문   91570  2022  1분기   지하1층
3     서울   도심  남대문   64132  2022  1분기   지하1층
4     서울   도심  동대문   45619  2022  1분기   지하1층
...   ..  ...  ...     ...   ...  ...    ...
4153  서울       장안동   61150  2024  1분기  6-10층
4154  서울        천호   39999  2024  1분기  6-10층
4155  서울       청량리   36033  2024  1분기  6-10층
4156  서울       혜화동   47272  2024  1분기  6-10층
4157  서울        화곡   29752  2024  1분기  6-10층

[4158 rows x 7 columns]

In [20]:
melt_df.to_csv('상권별_상업용_중대형상가_임대료.csv', encoding='utf-8' ,index=False)